.index {
	position: relative;
}
.heading h2{
	line-height: .9;
	transform: translateY(3px);
}
@media (min-width: 768px) {
	.heading h2{
		line-height: .8;
		transform: translateY(2px);
	}
}
@media (min-width: 1440px) {
	.heading h2{
		line-height: .8;
		transform: translateY(4px);
	}
}
@media (min-width: 1800px) {
	.heading h2{
		transform: translateY(5px);
	}
}