.index {
	position: relative;
}
.gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: .25rem;
}
.item {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 0 !important;
	cursor: pointer;
	min-height: 50px;
	position: relative;
} 
.item > img {
	opacity: 0;
	max-height: 200px
}
.item > span {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 10;
	color: #fff;
	font-size: 2em;
	transform: translate3d(-50%, -50%, 0);
	text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
@media (min-width: 1024px) {
	.gallery {
		grid-template-columns: repeat(6, 1fr);
		/* grid-template-rows: repeat(6, 1fr); */
	}
}
@media (min-width: 1280px) {
	.gallery {
		grid-template-columns: repeat(9, 1fr);
		/* grid-template-rows: repeat(9, 1fr); */
	}
	.item > img {
		max-height: 250px
	}
}
.gallery > * {
	grid-column: span 1;
	grid-row: span 1;
}
.gallery > *:nth-child(1),
.gallery > *:nth-child(4n),
.gallery > *:nth-child(8n) {
	grid-column: span 2;
	grid-row: span 2;
}
@media (min-width: 1024px) {
	.gallery > * {
		grid-column: span 2;
		grid-row: span 1;
	}
	.gallery > *:nth-child(4n),
	.gallery > *:nth-child(8n) {
		grid-column: span 4;
		grid-row: span 1;
	}
	.gallery > *:nth-child(1),
	.gallery > *:nth-child(2),
	.gallery > *:nth-child(6),
	.gallery > *:nth-child(7),
	.gallery > *:nth-child(11),
	.gallery > *:nth-child(12) {
		grid-column: span 3;
		grid-row: span 1;
	}
}
@media (min-width: 1280px) {
	.gallery > * {
		grid-column: span 3;
		grid-row: span 1;
	}
	.gallery > *:nth-child(1),
	.gallery > *:nth-child(10) {
		grid-column: span 5;
		grid-row: span 2;
	}
	.gallery > *:nth-child(2),
	.gallery > *:nth-child(11) {
		grid-column: span 4;
		grid-row: span 1;
	}
	.gallery > *:nth-child(3),
	.gallery > *:nth-child(4) {
		grid-column: span 2;
		grid-row: span 1;
	}
	.gallery > *:nth-child(9) {
		grid-column: span 2;
		grid-row: span 1;
	}
}