.lessgap-hero {
  position: relative;
  padding: 4rem 0;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 350px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 0;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .lessgap-hero {
    padding: 6rem 0;
  }
}
@media only screen and (min-width: 1000px) {
  .lessgap-hero {
    padding: 12rem 0;
  }
}
@media only screen and (min-width: 1300px) {
  .lessgap-hero {
    padding: 14rem 0;
  }
}
@media only screen and (min-width: 1600px) {
  .lessgap-hero {
    padding: 16rem 0;
  }
}
.lessgap-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}
.lessgap-hero .read-more {
  display: inline-flex;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
}
.lessgap-hero .read-more:hover, .lessgap-hero .read-more:active, .lessgap-hero .read-more:focus {
  background-color: #000;
  color: #fff;
}
.lessgap-hero h1 {
  z-index: 1000;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 2px;
  text-transform: uppercase;
  font-size: 3rem;
}
@media only screen and (min-width: 768px) {
  .lessgap-hero h1 {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1000px) {
  .lessgap-hero h1 {
    font-size: 6rem;
  }
}
@media only screen and (min-width: 1300px) {
  .lessgap-hero h1 {
    font-size: 9rem;
  }
}
@media only screen and (min-width: 1600px) {
  .lessgap-hero h1 {
    font-size: 12rem;
  }
}

.lessgap-hero-blog {
  position: relative;
  padding: 4rem 0;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 350px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 0;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .lessgap-hero-blog {
    padding: 6rem 0;
  }
}
@media only screen and (min-width: 1000px) {
  .lessgap-hero-blog {
    padding: 8rem 0;
  }
}
@media only screen and (min-width: 1300px) {
  .lessgap-hero-blog {
    padding: 10rem 0;
  }
}
@media only screen and (min-width: 1600px) {
  .lessgap-hero-blog {
    padding: 12rem 0;
  }
}
.lessgap-hero-blog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.lessgap-hero-blog .read-more {
  display: inline-flex;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
}
.lessgap-hero-blog .read-more:hover, .lessgap-hero-blog .read-more:active, .lessgap-hero-blog .read-more:focus {
  background-color: #000;
  color: #fff;
}
.lessgap-hero-blog h1 {
  z-index: 1000;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 2px;
  text-transform: uppercase;
  font-size: 3rem;
}
@media only screen and (min-width: 768px) {
  .lessgap-hero-blog h1 {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1000px) {
  .lessgap-hero-blog h1 {
    font-size: 5.5rem;
  }
}
@media only screen and (min-width: 1300px) {
  .lessgap-hero-blog h1 {
    font-size: 6rem;
  }
}
@media only screen and (min-width: 1600px) {
  .lessgap-hero-blog h1 {
    font-size: 6.5rem;
  }
}

.lessgap-block .setbg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blog-link:hover, .blog-link:active, .blog-link:focus {
  border-bottom-width: 0;
  text-decoration: underline;
}

.blog-content .detailblog {
  font-size: 1.35rem;
  font-weight: 300;
}
.blog-content .detailblog p,
.blog-content .detailblog ul,
.blog-content .detailblog ol,
.blog-content .detailblog h1,
.blog-content .detailblog h2,
.blog-content .detailblog h3,
.blog-content .detailblog h4,
.blog-content .detailblog h5,
.blog-content .detailblog h6,
.blog-content .detailblog blockquote,
.blog-content .detailblog > figure,
.blog-content .detailblog pre,
.blog-content .detailblog > div {
  margin-bottom: 1.5rem;
}
.blog-content .detailblog .wp-block-image {
  display: flex;
}
.blog-content .detailblog .wp-block-image.aligncenter {
  text-align: center;
  justify-content: center;
}
.blog-content .detailblog ul {
  list-style: disc;
  padding-left: 1.5rem;
}
.blog-content .detailblog .has-text-align-center {
  text-align: center;
}
.blog-content .detailblog ol {
  list-style: decimal;
  padding-left: 1.5rem;
}
.blog-content .detailblog hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 2rem 0;
}
.blog-content .detailblog b,
.blog-content .detailblog strong {
  font-weight: 700;
}
.blog-content .detailblog h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem;
}
.blog-content .detailblog h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem;
}
.blog-content .detailblog h3 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem;
}
.blog-content .detailblog h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem;
}
.blog-content .detailblog h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem;
}
.blog-content .detailblog h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  display: block;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .Toastify .Toastify__toast-container {
    width: 400px;
  }
}
.Toastify .Toastify__toast-container .Toastify__toast--error {
  background-color: #ffc3bf;
  color: #972e27;
}

.youtubeshorts .ant-modal-content {
  padding: 0;
  border-radius: 15px;
  overflow: hidden;
}
.youtubeshorts .ant-modal-content .ant-modal-footer {
  margin: 0;
  padding: 10px;
}

.ant-modal-mask {
  z-index: 8888888 !important;
}

.ant-modal-wrap {
  z-index: 9999999 !important;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.has-text-align-justify {
  text-align: justify;
}

body {
  --wp--style--block-gap: 1.5rem;
}

body .is-layout-flow > * {
  margin-block-start: 0;
  margin-block-end: 0;
}

body .is-layout-flow > * + * {
  margin-block-start: 1.5rem;
  margin-block-end: 0;
}

body .is-layout-constrained > * {
  margin-block-start: 0;
  margin-block-end: 0;
}

body .is-layout-constrained > * + * {
  margin-block-start: 1.5rem;
  margin-block-end: 0;
}

body .is-layout-flex {
  gap: 1.5rem;
}

body .is-layout-flow > .alignleft {
  float: left;
  margin-inline-start: 0;
  margin-inline-end: 2em;
}

body .is-layout-flow > .alignright {
  float: right;
  margin-inline-start: 2em;
  margin-inline-end: 0;
}

body .is-layout-flow > .aligncenter {
  margin-left: auto !important;
  margin-right: auto !important;
}

body .is-layout-constrained > .alignleft {
  float: left;
  margin-inline-start: 0;
  margin-inline-end: 2em;
}

body .is-layout-constrained > .alignright {
  float: right;
  margin-inline-start: 2em;
  margin-inline-end: 0;
}

body .is-layout-constrained > .aligncenter {
  margin-left: auto !important;
  margin-right: auto !important;
}

body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: var(--wp--style--global--content-size);
  margin-left: auto !important;
  margin-right: auto !important;
}

body .is-layout-constrained > .alignwide {
  max-width: var(--wp--style--global--wide-size);
}

body .is-layout-flex {
  display: flex;
}

body .is-layout-flex {
  flex-wrap: wrap;
  align-items: center;
}

body .is-layout-flex > * {
  margin: 0;
}

.blog-content .wp-site-blocks {
  padding-top: var(--wp--style--root--padding-top);
  padding-bottom: var(--wp--style--root--padding-bottom);
}
.blog-content .has-global-padding {
  padding-right: var(--wp--style--root--padding-right);
  padding-left: var(--wp--style--root--padding-left);
}
.blog-content .has-global-padding :where(.has-global-padding) {
  padding-right: 0;
  padding-left: 0;
}
.blog-content .has-global-padding > .alignfull {
  margin-right: calc(var(--wp--style--root--padding-right) * -1);
  margin-left: calc(var(--wp--style--root--padding-left) * -1);
}
.blog-content .has-global-padding :where(.has-global-padding) > .alignfull {
  margin-right: 0;
  margin-left: 0;
}
.blog-content .has-global-padding > .alignfull:where(:not(.has-global-padding)) > :where([class*="wp-block-"]:not(.alignfull):not([class*="__"]), p, h1, h2, h3, h4, h5, h6, ul, ol) {
  padding-right: var(--wp--style--root--padding-right);
  padding-left: var(--wp--style--root--padding-left);
}
.blog-content .has-global-padding :where(.has-global-padding) > .alignfull:where(:not(.has-global-padding)) > :where([class*="wp-block-"]:not(.alignfull):not([class*="__"]), p, h1, h2, h3, h4, h5, h6, ul, ol) {
  padding-right: 0;
  padding-left: 0;
}
.blog-content .wp-site-blocks > .alignleft {
  float: left;
  margin-right: 2em;
}
.blog-content .wp-site-blocks > .alignright {
  float: right;
  margin-left: 2em;
}
.blog-content .wp-site-blocks > .aligncenter {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.blog-content .wp-site-blocks > * {
  margin-block-start: 0;
  margin-block-end: 0;
}
.blog-content .wp-site-blocks > * + * {
  margin-block-start: 1.5rem;
}
.blog-content .wp-block-group.wp-container-4 {
  justify-content: space-between;
}
.blog-content .wp-block-post-content.wp-container-23 > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.blog-content .wp-block-post-content.wp-container-23 > .alignwide {
  max-width: 1200px;
}
.blog-content .wp-block-post-content.wp-container-23 .alignfull {
  max-width: none;
}
.blog-content .wp-block-group.wp-container-24 {
  flex-wrap: nowrap;
  justify-content: center;
}
.blog-content .wp-elements-4a3ba7e980eb6c169307222fc69945aa a,
.blog-content .wp-elements-76bb21758b08428dcadfe28fc2b92f38 a {
  color: var(--wp--preset--color--base);
}
.blog-content .wp-block-navigation.wp-container-2,
.blog-content .wp-block-social-links.wp-container-27 {
  justify-content: flex-end;
}
.blog-content .wp-block-columns.wp-container-9,
.blog-content .wp-block-columns.wp-container-12,
.blog-content .wp-block-columns.wp-container-16,
.blog-content .wp-block-columns.wp-container-20,
.blog-content .wp-block-columns.wp-container-29,
.blog-content .wp-block-columns.wp-container-31 {
  flex-wrap: nowrap;
}
.blog-content .wp-block-columns {
  display: flex;
  margin-bottom: 1.75em;
  box-sizing: border-box;
  flex-wrap: wrap !important;
  align-items: normal !important;
}
@media (min-width: 782px) {
  .blog-content .wp-block-columns {
    flex-wrap: nowrap !important;
  }
}
.blog-content .wp-block-columns.are-vertically-aligned-top {
  align-items: flex-start;
}
.blog-content .wp-block-columns.are-vertically-aligned-center {
  align-items: center;
}
.blog-content .wp-block-columns.are-vertically-aligned-bottom {
  align-items: flex-end;
}
@media (max-width: 781px) {
  .blog-content .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: 100% !important;
  }
}
@media (min-width: 782px) {
  .blog-content .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: 0;
    flex-grow: 1;
  }
  .blog-content .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column[style*=flex-basis] {
    flex-grow: 0;
  }
}
.blog-content .wp-block-columns.is-not-stacked-on-mobile {
  flex-wrap: nowrap !important;
}
.blog-content .wp-block-columns.is-not-stacked-on-mobile > .wp-block-column {
  flex-basis: 0;
  flex-grow: 1;
}
.blog-content .wp-block-columns.is-not-stacked-on-mobile > .wp-block-column[style*=flex-basis] {
  flex-grow: 0;
}
.blog-content :where(.wp-block-columns.has-background) {
  padding: 1.25em 2.375em;
}
.blog-content .wp-block-column {
  flex-grow: 1;
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word;
}
.blog-content .wp-block-column.is-vertically-aligned-top {
  align-self: flex-start;
}
.blog-content .wp-block-column.is-vertically-aligned-center {
  align-self: center;
}
.blog-content .wp-block-column.is-vertically-aligned-bottom {
  align-self: flex-end;
}
.blog-content .wp-block-column.is-vertically-aligned-bottom,
.blog-content .wp-block-column.is-vertically-aligned-center,
.blog-content .wp-block-column.is-vertically-aligned-top {
  width: 100%;
}
.blog-content .wp-block-gallery.wp-block-gallery-21 {
  --wp--style--unstable-gallery-gap: var(--wp--style--gallery-gap-default, var(--gallery-block--gutter-size, var(--wp--style--block-gap, 0.5em)));
  gap: var(--wp--style--gallery-gap-default, var(--gallery-block--gutter-size, var(--wp--style--block-gap, 0.5em)));
}
.blog-content .blocks-gallery-grid:not(.has-nested-images),
.blog-content .wp-block-gallery:not(.has-nested-images) {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.blog-content .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image,
.blog-content .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item,
.blog-content .wp-block-gallery:not(.has-nested-images) .blocks-gallery-image,
.blog-content .wp-block-gallery:not(.has-nested-images) .blocks-gallery-item {
  margin: 0 1em 1em 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: calc(50% - 1em);
}
.blog-content .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image:nth-of-type(2n),
.blog-content .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item:nth-of-type(2n),
.blog-content .wp-block-gallery:not(.has-nested-images) .blocks-gallery-image:nth-of-type(2n),
.blog-content .wp-block-gallery:not(.has-nested-images) .blocks-gallery-item:nth-of-type(2n) {
  margin-right: 0;
}
.blog-content .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image figure,
.blog-content .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item figure,
.blog-content .wp-block-gallery:not(.has-nested-images) .blocks-gallery-image figure,
.blog-content .wp-block-gallery:not(.has-nested-images) .blocks-gallery-item figure {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.blog-content .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image img,
.blog-content .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item img,
.blog-content .wp-block-gallery:not(.has-nested-images) .blocks-gallery-image img,
.blog-content .wp-block-gallery:not(.has-nested-images) .blocks-gallery-item img {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
}
.blog-content .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image figcaption,
.blog-content .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item figcaption,
.blog-content .wp-block-gallery:not(.has-nested-images) .blocks-gallery-image figcaption,
.blog-content .wp-block-gallery:not(.has-nested-images) .blocks-gallery-item figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 3em 0.77em 0.7em;
  color: #fff;
  text-align: center;
  font-size: 0.8em;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) 70%, transparent);
  box-sizing: border-box;
  margin: 0;
  z-index: 2;
}
.blog-content .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image figcaption img,
.blog-content .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item figcaption img,
.blog-content .wp-block-gallery:not(.has-nested-images) .blocks-gallery-image figcaption img,
.blog-content .wp-block-gallery:not(.has-nested-images) .blocks-gallery-item figcaption img {
  display: inline;
}
.blog-content .blocks-gallery-grid:not(.has-nested-images) figcaption,
.blog-content .wp-block-gallery:not(.has-nested-images) figcaption {
  flex-grow: 1;
}
.blog-content .blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-image a,
.blog-content .blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-image img,
.blog-content .blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-item a,
.blog-content .blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-item img,
.blog-content .wp-block-gallery:not(.has-nested-images).is-cropped .blocks-gallery-image a,
.blog-content .wp-block-gallery:not(.has-nested-images).is-cropped .blocks-gallery-image img,
.blog-content .wp-block-gallery:not(.has-nested-images).is-cropped .blocks-gallery-item a,
.blog-content .wp-block-gallery:not(.has-nested-images).is-cropped .blocks-gallery-item img {
  width: 100%;
  height: 100%;
  flex: 1;
  object-fit: cover;
}
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-1 .blocks-gallery-image,
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-1 .blocks-gallery-item,
.blog-content .wp-block-gallery:not(.has-nested-images).columns-1 .blocks-gallery-image,
.blog-content .wp-block-gallery:not(.has-nested-images).columns-1 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
}
@media (min-width: 600px) {
  .blog-content .blocks-gallery-grid:not(.has-nested-images).columns-3 .blocks-gallery-image,
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-3 .blocks-gallery-item,
.blog-content .wp-block-gallery:not(.has-nested-images).columns-3 .blocks-gallery-image,
.blog-content .wp-block-gallery:not(.has-nested-images).columns-3 .blocks-gallery-item {
    width: calc(33.33333% - .66667em);
    margin-right: 1em;
  }
  .blog-content .blocks-gallery-grid:not(.has-nested-images).columns-4 .blocks-gallery-image,
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-4 .blocks-gallery-item,
.blog-content .wp-block-gallery:not(.has-nested-images).columns-4 .blocks-gallery-image,
.blog-content .wp-block-gallery:not(.has-nested-images).columns-4 .blocks-gallery-item {
    width: calc(25% - .75em);
    margin-right: 1em;
  }
  .blog-content .blocks-gallery-grid:not(.has-nested-images).columns-5 .blocks-gallery-image,
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-5 .blocks-gallery-item,
.blog-content .wp-block-gallery:not(.has-nested-images).columns-5 .blocks-gallery-image,
.blog-content .wp-block-gallery:not(.has-nested-images).columns-5 .blocks-gallery-item {
    width: calc(20% - .8em);
    margin-right: 1em;
  }
  .blog-content .blocks-gallery-grid:not(.has-nested-images).columns-6 .blocks-gallery-image,
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-6 .blocks-gallery-item,
.blog-content .wp-block-gallery:not(.has-nested-images).columns-6 .blocks-gallery-image,
.blog-content .wp-block-gallery:not(.has-nested-images).columns-6 .blocks-gallery-item {
    width: calc(16.66667% - .83333em);
    margin-right: 1em;
  }
  .blog-content .blocks-gallery-grid:not(.has-nested-images).columns-7 .blocks-gallery-image,
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-7 .blocks-gallery-item,
.blog-content .wp-block-gallery:not(.has-nested-images).columns-7 .blocks-gallery-image,
.blog-content .wp-block-gallery:not(.has-nested-images).columns-7 .blocks-gallery-item {
    width: calc(14.28571% - .85714em);
    margin-right: 1em;
  }
  .blog-content .blocks-gallery-grid:not(.has-nested-images).columns-8 .blocks-gallery-image,
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-8 .blocks-gallery-item,
.blog-content .wp-block-gallery:not(.has-nested-images).columns-8 .blocks-gallery-image,
.blog-content .wp-block-gallery:not(.has-nested-images).columns-8 .blocks-gallery-item {
    width: calc(12.5% - .875em);
    margin-right: 1em;
  }
  .blog-content .blocks-gallery-grid:not(.has-nested-images).columns-1 .blocks-gallery-image:nth-of-type(1n),
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-1 .blocks-gallery-item:nth-of-type(1n),
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-2 .blocks-gallery-image:nth-of-type(2n),
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-2 .blocks-gallery-item:nth-of-type(2n),
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-3 .blocks-gallery-image:nth-of-type(3n),
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-3 .blocks-gallery-item:nth-of-type(3n),
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-4 .blocks-gallery-image:nth-of-type(4n),
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-4 .blocks-gallery-item:nth-of-type(4n),
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-5 .blocks-gallery-image:nth-of-type(5n),
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-5 .blocks-gallery-item:nth-of-type(5n),
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-6 .blocks-gallery-image:nth-of-type(6n),
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-6 .blocks-gallery-item:nth-of-type(6n),
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-7 .blocks-gallery-image:nth-of-type(7n),
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-7 .blocks-gallery-item:nth-of-type(7n),
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-8 .blocks-gallery-image:nth-of-type(8n),
.blog-content .blocks-gallery-grid:not(.has-nested-images).columns-8 .blocks-gallery-item:nth-of-type(8n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-1 .blocks-gallery-image:nth-of-type(1n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-1 .blocks-gallery-item:nth-of-type(1n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-2 .blocks-gallery-image:nth-of-type(2n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-2 .blocks-gallery-item:nth-of-type(2n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-3 .blocks-gallery-image:nth-of-type(3n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-3 .blocks-gallery-item:nth-of-type(3n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-4 .blocks-gallery-image:nth-of-type(4n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-4 .blocks-gallery-item:nth-of-type(4n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-5 .blocks-gallery-image:nth-of-type(5n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-5 .blocks-gallery-item:nth-of-type(5n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-6 .blocks-gallery-image:nth-of-type(6n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-6 .blocks-gallery-item:nth-of-type(6n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-7 .blocks-gallery-image:nth-of-type(7n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-7 .blocks-gallery-item:nth-of-type(7n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-8 .blocks-gallery-image:nth-of-type(8n),
.blog-content .wp-block-gallery:not(.has-nested-images).columns-8 .blocks-gallery-item:nth-of-type(8n) {
    margin-right: 0;
  }
}
.blog-content .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image:last-child,
.blog-content .blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item:last-child,
.blog-content .wp-block-gallery:not(.has-nested-images) .blocks-gallery-image:last-child,
.blog-content .wp-block-gallery:not(.has-nested-images) .blocks-gallery-item:last-child {
  margin-right: 0;
}
.blog-content .blocks-gallery-grid:not(.has-nested-images).alignleft,
.blog-content .blocks-gallery-grid:not(.has-nested-images).alignright,
.blog-content .wp-block-gallery:not(.has-nested-images).alignleft,
.blog-content .wp-block-gallery:not(.has-nested-images).alignright {
  max-width: 420px;
  width: 100%;
}
.blog-content .blocks-gallery-grid:not(.has-nested-images).aligncenter .blocks-gallery-item figure,
.blog-content .wp-block-gallery:not(.has-nested-images).aligncenter .blocks-gallery-item figure {
  justify-content: center;
}
.blog-content .wp-block-gallery:not(.is-cropped) .blocks-gallery-item {
  align-self: flex-start;
}
.blog-content figure.wp-block-gallery.has-nested-images {
  align-items: normal;
}
.blog-content .wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image) {
  width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px)/2);
  margin: 0;
}
.blog-content .wp-block-gallery.has-nested-images figure.wp-block-image {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  flex-direction: column;
  max-width: 100%;
  box-sizing: border-box;
}
.blog-content .wp-block-gallery.has-nested-images figure.wp-block-image > a,
.blog-content .wp-block-gallery.has-nested-images figure.wp-block-image > div {
  margin: 0;
  flex-direction: column;
  flex-grow: 1;
}
.blog-content .wp-block-gallery.has-nested-images figure.wp-block-image img {
  display: block;
  height: auto;
  max-width: 100% !important;
  width: auto;
}
.blog-content .wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) 70%, transparent);
  bottom: 0;
  color: #fff;
  font-size: 13px;
  left: 0;
  margin-bottom: 0;
  max-height: 60%;
  overflow: auto;
  padding: 0 8px 8px;
  position: absolute;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.blog-content .wp-block-gallery.has-nested-images figure.wp-block-image figcaption img {
  display: inline;
}
.blog-content .wp-block-gallery.has-nested-images figure.wp-block-image figcaption a {
  color: inherit;
}
.blog-content .wp-block-gallery.has-nested-images figure.wp-block-image.has-custom-border img {
  box-sizing: border-box;
}
.blog-content .wp-block-gallery.has-nested-images figure.wp-block-image.has-custom-border > a,
.blog-content .wp-block-gallery.has-nested-images figure.wp-block-image.has-custom-border > div,
.blog-content .wp-block-gallery.has-nested-images figure.wp-block-image.is-style-rounded > a,
.blog-content .wp-block-gallery.has-nested-images figure.wp-block-image.is-style-rounded > div {
  flex: 1 1 auto;
}
.blog-content .wp-block-gallery.has-nested-images figure.wp-block-image.has-custom-border figcaption,
.blog-content .wp-block-gallery.has-nested-images figure.wp-block-image.is-style-rounded figcaption {
  flex: initial;
  background: none;
  color: inherit;
  margin: 0;
  padding: 10px 10px 9px;
  position: relative;
}
.blog-content .wp-block-gallery.has-nested-images figcaption {
  flex-grow: 1;
  flex-basis: 100%;
  text-align: center;
}
.blog-content .wp-block-gallery.has-nested-images:not(.is-cropped) figure.wp-block-image:not(#individual-image) {
  margin-top: 0;
  margin-bottom: auto;
}
.blog-content .wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) {
  align-self: inherit;
}
.blog-content .wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) > a,
.blog-content .wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) > div:not(.components-drop-zone) {
  display: flex;
}
.blog-content .wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) a,
.blog-content .wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) img {
  width: 100%;
  flex: 1 0 0%;
  height: 100%;
  object-fit: cover;
}
.blog-content .wp-block-gallery.has-nested-images.columns-1 figure.wp-block-image:not(#individual-image) {
  width: 100%;
}
@media (min-width: 600px) {
  .blog-content .wp-block-gallery.has-nested-images.columns-3 figure.wp-block-image:not(#individual-image) {
    width: calc(33.33333% - 2%);
  }
  .blog-content .wp-block-gallery.has-nested-images.columns-4 figure.wp-block-image:not(#individual-image) {
    width: calc(25% - 1%);
  }
  .blog-content .wp-block-gallery.has-nested-images.columns-5 figure.wp-block-image:not(#individual-image) {
    width: calc(20% - var(--wp--style--unstable-gallery-gap, 16px)*0.8);
  }
  .blog-content .wp-block-gallery.has-nested-images.columns-6 figure.wp-block-image:not(#individual-image) {
    width: calc(16.66667% - var(--wp--style--unstable-gallery-gap, 16px)*0.83333);
  }
  .blog-content .wp-block-gallery.has-nested-images.columns-7 figure.wp-block-image:not(#individual-image) {
    width: calc(14.28571% - var(--wp--style--unstable-gallery-gap, 16px)*0.85714);
  }
  .blog-content .wp-block-gallery.has-nested-images.columns-8 figure.wp-block-image:not(#individual-image) {
    width: calc(12.5% - var(--wp--style--unstable-gallery-gap, 16px)*0.875);
  }
  .blog-content .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
    width: calc(33.33% - 2%);
  }
  .blog-content .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2),
.blog-content .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2) ~ figure.wp-block-image:not(#individual-image) {
    width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px)*0.5);
  }
  .blog-content .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:last-child {
    width: 100%;
  }
}
.blog-content .wp-block-gallery.has-nested-images.alignleft,
.blog-content .wp-block-gallery.has-nested-images.alignright {
  max-width: 420px;
  width: 100%;
}
.blog-content .wp-block-gallery.has-nested-images.aligncenter {
  justify-content: center;
}

#menu-toggle.active span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#menu-toggle.active span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#menu-toggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#menu-main.active {
  display: flex;
  animation: __showMenu 0.3s ease-in-out forwards;
}

@keyframes __showMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.madePrevNextBtn .slick-arrow {
  position: fixed;
  bottom: 0%;
  transform: translateY(100%);
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.madePrevNextBtn .slick-arrow svg {
  width: 1.2rem;
  height: 1.2rem;
  fill: #fff;
}
.madePrevNextBtn .slick-arrow svg * {
  fill: #fff;
}
.madePrevNextBtn .slick-arrow.slick-prev {
  right: 3rem;
  position: fixed;
  bottom: 0;
  top: unset;
  left: unset;
  z-index: 1000;
  background-color: #000;
}
.madePrevNextBtn .slick-arrow.slick-prev:hover {
  background-color: white;
}
.madePrevNextBtn .slick-arrow.slick-prev:hover svg {
  fill: #000;
}
.madePrevNextBtn .slick-arrow.slick-prev:hover svg * {
  fill: #000;
}
.madePrevNextBtn .slick-arrow.slick-next {
  right: 0;
  position: fixed;
  bottom: 0;
  top: unset;
  z-index: 1000;
  background-color: #000;
}
.madePrevNextBtn .slick-arrow.slick-next:hover {
  background-color: white;
}
.madePrevNextBtn .slick-arrow.slick-next:hover svg {
  fill: #000;
}
.madePrevNextBtn .slick-arrow.slick-next:hover svg * {
  fill: #000;
}
@media (min-width: 1024px) {
  .madePrevNextBtn:hover .slick-arrow {
    z-index: 1000;
    opacity: 1;
    transform: translateY(0%);
  }
}

@font-face {
  font-family: "TT-Travels";
  src: url(../webfonts/tt_travels_next_thin-webfont.woff2) format("woff2"), url(../webfonts/tt_travels_next_thin-webfont.woff) format("woff");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "TT-Travels";
  src: url(../webfonts/tt_travels_next_regular-webfont.woff2) format("woff2"), url(../webfonts/tt_travels_next_regular-webfont.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TT-Travels";
  src: url(../webfonts/tt_travels_next_medium-webfont.woff2) format("woff2"), url(../webfonts/tt_travels_next_medium-webfont.woff) format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "TT-Hoves";
  src: url(../webfonts/TTHoves-Light.woff2) format("woff2"), url(../webfonts/TTHoves-Light.woff) format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "TT-Hoves";
  src: url(../webfonts/TTHoves-Regular.woff2) format("woff2"), url(../webfonts/TTHoves-Regular.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TT-Hoves";
  src: url(../webfonts/TTHoves-Medium.woff2) format("woff2"), url(../webfonts/TTHoves-Medium.woff) format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Cagliari";
  src: url("../webfonts/subset-FONTSPRINGDEMO-CagliariExtraBoldRegular.eot");
  src: url("../webfonts/subset-FONTSPRINGDEMO-CagliariExtraBoldRegular.eot?#iefix") format("embedded-opentype"), url("../webfonts/subset-FONTSPRINGDEMO-CagliariExtraBoldRegular.woff2") format("woff2"), url("../webfonts/subset-FONTSPRINGDEMO-CagliariExtraBoldRegular.woff") format("woff"), url("../webfonts/subset-FONTSPRINGDEMO-CagliariExtraBoldRegular.ttf") format("truetype"), url("../webfonts/subset-FONTSPRINGDEMO-CagliariExtraBoldRegular.svg#FONTSPRINGDEMO-CagliariExtraBoldRegular") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html,
body {
  font-family: "TT-Travels", monospace;
}
html *,
body * {
  font-family: "TT-Travels", monospace;
}